
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json
aaa.csv
aaa.ps1
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__blobstorage__/18251f59-d85a-41c3-9995-d5a3c9c8620a
